<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <script src="https://kit.fontawesome.com/56116dc5d8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <p>login works!</p>
    <!--modal section login-->
    <div class="bg-modal">
        <div class="modal-content">
            <img class="img-icon"
                src="https://www.clipartmax.com/png/full/257-2572603_user-man-social-avatar-profile-icon-man-avatar-in-circle.png"
                alt="user-man-social-avatar-profile-icon-man-avatar-in-circle">
            <form action="">
                <input type="text" name="" id="" placeholder="nombre"><br>
                <input type="text" name="" id="" placeholder="password"><br>
                <input type="button" name="" id="" value="Sign Up">
                <p>or</p>
                <a href="#"><img class="icon"
                        src="https://cdn.icon-icons.com/icons2/1906/PNG/512/iconfinder-facebook-4550856_121356.png"
                        alt=""></a>
                <a href="#"><img class="icon"
                        src="https://w7.pngwing.com/pngs/882/225/png-transparent-google-logo-google-logo-google-search-icon-google-text-logo-business.png"
                        alt=""></a>
            </form>
            <a href="#">
                <p>Register now!</p>
            </a>
        </div>
    </div>

</body>

</html>